* @conjur-enterprise/r-d-developers @conjur-enterprise/transition-tech

# Changes to .codeclimate.yml require Quality Architect approval
.codeclimate.yml @conjur-enterprise/conjur-quality

# Changes to SECURITY.md require Security Architect approval
SECURITY.md @conjur-enterprise/conjur-security
